extends ../layout

block content

    h1.
        Infophoto #{venue._id}
    p Name: #{venue.name}
    p StreetAdress: #{venue.streetAddress}
    p Town: #{venue.town}
    p PostCode: #{venue.postCode}
    p ContactName : #{venue.contactName}
    p ContactNumber : #{venue.contactNumber}
    p Type : #{venue.type}
    p SurfaceType : #{venue.surfaceType}